.room-section {
  padding-top: 32px;
  padding-bottom: 32px;
}
.amenities__title {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: calc(37 / 32);

  color: #000000;
}
.amenities__text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;

  color: #7a7a7a;
}
