body.lock{
    overflow: hidden;
}
.popup {
    visibility: hidden;
    position: fixed;
    pointer-events: none;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 48, 61, 0.2);
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    &.open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;

        .popup__content {
            transform: scale(1);
            opacity: 1;
        }


    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        transition: all 0.8s ease 0s;
    }

    &__content {
        padding: 50px;
        overflow-x: hidden;
        background:#fff;
        box-shadow: 0px 0px 30px rgba(41, 48, 61, 0.15);
        max-width: 900px;
        width: 100%;
        position: relative;
        transition: all 0.8s ease 0s;
        opacity: 0;
        transform: scale(0.7);

    }

    &__text {
        font-size: 20px;
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
    }


}