<section class="room-section">
  <div class="container">
    <h2 class="amenities__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <h3 class="amenities__subtitle"></h3>
    <p class="amenities__text"></p>
    <p class="amenities__text"></p>
    <h3 class="amenities__subtitle"></h3>
    <p class="amenities__text"></p>
    <p class="amenities__text"></p>
    <h3 class="amenities__subtitle"></h3>
    <p class="amenities__text"></p>
    <h3 class="amenities__subtitle"></h3>
    <p class="amenities__text"></p>
    <p class="amenities__text"></p>
    <h3 class="amenities__subtitle"></h3>
    <p class="amenities__text"></p>
    <button type="button" class="room__order-button"></button>
    <a href=""></a>
  </div>
</section>
