<section class="section hero">
    <div class="container">
        <h1 class="section-title">Кнопки виклику модалок</h1>
        <div class="flex-box">
            <a href="#" data-popup-btn="presentation" class="popup-link">Попап 1</a>
            <button type="button" data-popup-btn="presentation" class="popup-link">Попап 1</button>

            <a href="#" data-popup-btn="test-modal" class="popup-link">Попап 2</a>
            <button type="button" data-popup-btn="test-modal" class="popup-link">Попап 2</button>
        </div>
        <p>Тег можна використовувати який завгодно головне додати дата атрибут та клас <b>popup-link</b></p>
        <p> Дата атрибут <b>data-popup="presentation"</b> відповідає атрибуту модалки <b>data-popup-target="presentation"</b></p>
    </div>
</section>