<section class="section inputs">
    <div class="container inputs__block">

        <h2>Інпути</h2>
        <div class="flex-box inputs-wrap">
            <input type="text" class="js-inputmask">
            <input type="text" class="js-inputmask">
            <input type="text" class="js-inputmask">

            <input type="text" class="js-inputmask-01">
            <input type="text" class="js-inputmask-01">
            <input type="text" class="js-inputmask-01">
        </div>

        <hr>

        
        <h3>Селекти</h3>
        <div class="flex-box selects-wrap">
            <select name="testselect" class="js-select">  
                <option value="1">option1</option>
                <option value="11">option11</option>
                <option value="111">option111</option>
                <option value="1111">option1111</option>
                <option value="test">test</option>
                <option value="test1">test1</option>
                <option value="car">car</option>
                <option value="car1">car1</option>
            </select>
            <select name="testselect" class="js-select">
                <option value="1">option1</option>
                <option value="11">option11</option>
                <option value="111">option111</option>
                <option value="1111">option1111</option>
            </select>
            <select name="testselect" class="js-select">
                <option value="1">option1</option>
                <option value="11">option11</option>
                <option value="111">option111</option>
                <option value="1111">option1111</option>
            </select>
        </div>
    </div>
</section>