<header class="header">
    <div class="container">
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link">Посилання 1</a>
                </li>
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link">Посилання 2</a>
                </li>
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link">Посилання 3</a>
                </li>
            </ul>
        </nav>
    </div>
</header>